{% import "icon.twig" as icon %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Bakir Immobilien Anrufe</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="http://d2v52k3cl9vedd.cloudfront.net/basscss/6.1.6/basscss.min.css" rel="stylesheet">
	{% block head %}{% endblock %}
</head>
<body style="background-color: #f4f4f4">
	<!--[if lt IE 10]><p class="p2 m0 center white bg-orange">Sie benutzen einen <strong>veralteten</strong> Browser. Bitte <a class="white" style="text-decoration: underline;" href="http://browsehappy.com/">aktualisieren Sie ihren Browser</a> um das Internet-Erlebnis zu verbessern.</p><![endif]-->

	{% block content %}
		<h1>Base Layout</h1>
	{% endblock %}

	{% block foot %}{% endblock %}
</body>
</html>
