{% extends 'base.twig' %}

{% block content %}
	{% include 'header.twig' %}

	<div class="container">

		{% if not calls_done and not calls_undone %}
			<p class="mt4 h3 regular">Keine Anrufe vorhanden.</p>
			<p class="muted">
				Erstellen Sie einen neuen Anruf,
				indem Sie oben rechts auf „Neuer Anruf“ klicken.
			</p>
		{% endif %}

		{% include 'calls.twig' with {
			'title': 'Anrufe',
			'calls': calls_undone,
			'action': 'done'
		} %}

		{% include 'calls.twig' with {
			'title': 'Erledigt',
			'calls': calls_done,
			'action': 'undone'
		} %}

	</div>

	{% include 'call_modal.twig' %}
{% endblock %}

{% block foot %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-powertip/1.2.0/jquery.powertip.min.js"></script>

	<script>

		var modal = document.getElementById('new-call-modal');

		function toggleModal() {
			modal.classList.toggle('mdl-show');
		}

		function hideModal() {
			modal.classList.remove('mdl-show');
		}

		document.getElementById('new-call').onclick = function() { toggleModal(); };
		document.getElementById('overlay').onclick  = function() { hideModal(); };
		document.getElementById('cancel').onclick   = function() { hideModal(); };

		$('.tooltip').powerTip({
			followMouse: true
		});

		$('.tooltip').data('powertipjq', function() {
			return $(this).find('.tooltip-content');
		});

	</script>
{% endblock %}
