{% extends 'base.twig' %}

{% block content %}
	{% include 'header.twig' %}

	<div class="container">

		<div class="inline-block clearfix blue">
			<button type="button" class="left btn {% if view == 'undone' %} btn-primary bg-gray{% else %} gray bg-white{% endif %} border-right rounded-left" id="show-calls-undone">Anrufe</button>
			<button type="button" class="left btn {% if view == 'done' %}   btn-primary bg-gray{% else %} gray bg-white{% endif %} rounded-right" id="show-calls-done">Erledigt</button>
		</div>

		{% if not calls_done and not calls_undone %}
			<p class="mt4 h3 regular">Keine Anrufe vorhanden.</p>
			<p class="muted">
				Erstellen Sie einen neuen Anruf,
				indem Sie oben rechts auf „Neuer Anruf“ klicken.
			</p>
		{% endif %}

		{% set undone_params = {
			'title': 'Anrufe',
			'calls': calls_undone,
			'action': 'done'
		} %}

		{% set done_params = {
			'title': 'Erledigt',
			'calls': calls_done,
			'action': 'undone'
		} %}

		{% if view == 'done' %}
			{% include 'calls.twig' with done_params %}
		{% else %}
			{% include 'calls.twig' with undone_params %}
		{% endif %}

	</div>

	{% include 'call_modal.twig' %}
{% endblock %}

{% block foot %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-powertip/1.2.0/jquery.powertip.min.js"></script>

	<script>

		var modal = document.getElementById('new-call-modal');

		function toggleModal() {
			modal.classList.toggle('mdl-show');
		}

		function hideModal() {
			modal.classList.remove('mdl-show');
		}

		document.getElementById('new-call').onclick = function() { toggleModal(); };
		document.getElementById('overlay').onclick  = function() { hideModal(); };
		document.getElementById('cancel').onclick   = function() { hideModal(); };

		document.getElementById('show-calls-undone').onclick = function() {
			window.location.search = "?site=home&view=undone"
		};

		document.getElementById('show-calls-done').onclick = function() {
			window.location.search = "?site=home&view=done"
		};

		$('.tooltip').powerTip({
			followMouse: true
		});

		$('.tooltip').data('powertipjq', function() {
			return $(this).find('.tooltip-content');
		});

	</script>
{% endblock %}
