{% extends 'base.twig' %}

{% block head %}
	<style>
		.mdl-modal {
			position: absolute;
			top: 50%;
			right: 50%;
			left: 50%;
			z-index: 2000;
			width: 90%;
			max-width: 750px;
			visibility: hidden;
			-webkit-transform: translateX(-50%) translateY(-50%);
			-ms-transform:     translateX(-50%) translateY(-50%);
			transform:         translateX(-50%) translateY(-50%);
		}

		.mdl-modal.mdl-show {
			visibility: visible;
		}

		.mdl-overlay {
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 1000;
			background: rgba(0,0,0,0.5);
			visibility: hidden;
			opacity: 0;
			-webkit-transition: all .6s;
			transition: all .6s;
		}

		.mdl-show ~ .mdl-overlay {
			visibility: visible;
			opacity: 1;
		}

		.mdl-box {
			position: relative;
			border-radius: 5px;
			overflow: hidden;
			opacity: 0;
			-webkit-transform: scale(0.7);
			-ms-transform:     scale(0.7);
			transform:         scale(0.7);
			-webkit-transition: all .6s;
			transition: all .6s;
		}

		.mdl-modal.mdl-show > .mdl-box {
			opacity: 1;
			-webkit-transform: scale(1);
			-ms-transform:     scale(1);
			transform:         scale(1);
		}

		.tooltip-content-wrapper {
			display: none;
		}

		/* PowerTip Plugin */
		#powerTip {
			cursor: default;
			background-color: rgba(255, 255, 255, 0.6);
			border-radius: 3px;

			border: 1px solid rgba(0,0,0,.125);

			display: none;
			padding: 10px;
			position: absolute;
			white-space: nowrap;
			z-index: 2147483647;
		}
		#powerTip:before {
			content: "";
			position: absolute;
		}
	</style>
{% endblock %}

{% block content %}
	{% include 'header.twig' %}

	<div class="container">

		{% if not calls_done and not calls_undone %}
			<p class="mt4 h3 regular">Keine Anrufe vorhanden.</p>
			<p class="muted">
				Erstellen Sie einen neuen Anruf,
				indem Sie oben rechts auf „Neuer Anruf“ klicken.
			</p>
		{% endif %}

		{% include 'calls.twig' with {
			'title': 'Anrufe',
			'calls': calls_undone,
			'action': 'done'
		} %}

		{% include 'calls.twig' with {
			'title': 'Erledigt',
			'calls': calls_done,
			'action': 'undone'
		} %}

	</div>

	{% include 'call_modal.twig' %}
{% endblock %}

{% block foot %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-powertip/1.2.0/jquery.powertip.min.js"></script>

	<script>

		var modal = document.getElementById('new-call-modal');

		function toggleModal() {
			modal.classList.toggle('mdl-show');
		}

		function hideModal() {
			modal.classList.remove('mdl-show');
		}

		document.getElementById('new-call').onclick = function() { toggleModal(); };
		document.getElementById('overlay').onclick  = function() { hideModal(); };
		document.getElementById('cancel').onclick   = function() { hideModal(); };

		$('.tooltip').powerTip({
			followMouse: true
		});

		$('.tooltip').data('powertipjq', function() {
			return $(this).find('.tooltip-content');
		});

	</script>
{% endblock %}
