{% extends 'base.twig' %}

{% block head %}
	<style>
		.mdl-modal {
			position: absolute;
			top: 50%;
			right: 50%;
			left: 50%;
			z-index: 2000;
			width: 90%;
			max-width: 650px;
			visibility: hidden;
			-webkit-transform: translateX(-50%) translateY(-50%);
			-ms-transform:     translateX(-50%) translateY(-50%);
			transform:         translateX(-50%) translateY(-50%);
		}

		.mdl-modal.mdl-show {
			visibility: visible;
		}

		.mdl-overlay {
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 1000;
			background: rgba(0,0,0,0.5);
			visibility: hidden;
			opacity: 0;
			-webkit-transition: all .6s;
			transition: all .6s;
		}

		.mdl-show ~ .mdl-overlay {
			visibility: visible;
			opacity: 1;
		}

		.mdl-box {
			position: relative;
			border-radius: 5px;
			overflow: hidden;
			opacity: 0;
			-webkit-transform: scale(0.7);
			-ms-transform:     scale(0.7);
			transform:         scale(0.7);
			-webkit-transition: all .6s;
			transition: all .6s;
		}

		.mdl-modal.mdl-show > .mdl-box {
			opacity: 1;
			-webkit-transform: scale(1);
			-ms-transform:     scale(1);
			transform:         scale(1);
		}

	</style>
{% endblock %}

{% block foot %}

	<script>

		var modal = document.getElementById('new-call-modal');

		function toggleModal() {
			modal.classList.toggle('mdl-show');
		}

		function hideModal() {
			modal.classList.remove('mdl-show');
		}

		document.getElementById('new-call').onclick = function() { toggleModal(); };
		document.getElementById('overlay').onclick  = function() { hideModal(); };
		document.getElementById('cancel').onclick   = function() { hideModal(); };

	</script>

{% endblock %}

{% block content %}

	<header class="clearfix p2 white mb3" style="background-color: #e9399b;">
		<h1 class="col h3 m0" style="margin-top: .3rem;">Bakir Immobilien Anrufe</h1>
		<nav class="col-right">
			<a class="button" style="background: none;" href="#">Max Mustermann abmelden</a>
			<button class="button bg-white" id="new-call" style="color: #e9399b;">Neuer Anruf</button>
		</nav>
	</header>

	<div class="container">
		<div class="clearfix p2 border rounded mb2 bg-white">
			<div class="col col-11 clearfix" style="margin-top: .45rem;">
				<div class="col col-12 md-col-4">Max Mustermann <span class="gray">(04421 02845)</span></div>
				<div class="col col-12 md-col-7 gray">Am 30. April, Immobilienverkauf...</div>
			</div>

			<div class="col-right col-1 right-align">
				<div class="button bg-white gray">✓</div>
			</div>
		</div>
		<div class="p2 border rounded mb2 bg-white clearfix">
			<div class="col col-11 clearfix" style="margin-top: .45rem;">
				<div class="col col-12 md-col-4">Suse Mustermann <span class="gray">(04421 37870)</span></div>
				<div class="col col-12 md-col-7 gray">Am 21. Mai, Bakir Brader Shop...</div>
			</div>

			<div class="col-right col-1 right-align">
				<div class="button bg-white green">✓</div>
			</div>
		</div>
		<div class="p2 border rounded mb2 bg-white clearfix">
			<div class="col col-11 clearfix" style="margin-top: .45rem;">
				<div class="col col-12 md-col-4">Herbat Gr&ouml;nemeier <span class="gray">(036741 28401)</span></div>
				<div class="col col-12 md-col-7 gray">Am 28. Mai, Bakir Brader Shop...</div>
			</div>

			<div class="col-right col-1 right-align">
				<div class="button bg-white gray">✓</div>
			</div>
		</div>
		<div class="p2 border rounded mb2 bg-white clearfix">
			<div class="col col-11 clearfix" style="margin-top: .45rem;">
				<div class="col col-12 md-col-4">Richard Keil <span class="gray">(036741 11924)</span></div>
				<div class="col col-12 md-col-7 gray">Am 1. Juni, Website Angelegenheit...</div>
			</div>

			<div class="col-right col-1 right-align">
				<div class="button bg-white green">✓</div>
			</div>
		</div>
	</div>

	<div class="mdl-modal" id="new-call-modal">
		<div class="p3 border rounded bg-white mdl-box">

			<h3 class="mt0 mb3">Neuer Anruf</h3>

			<form class="mb2">

				<div class="clearfix mxn1 mb1">
					<div class="col col-4 p1">
						<label class="block" for="contact_forname">Vorname</label>
						<input class="block full-width field-light" id="contact_forname" type="text">
					</div>
					<div class="col col-4 p1">
						<label class="block" for="contact_lastname">Nachname</label>
						<input class="block full-width field-light" id="contact_lastname" type="text">
					</div>
					<div class="col col-4 p1">
						<label class="block" for="contact_phone">Telefonnummer</label>
						<input class="block full-width field-light" id="contact_phone" type="text">
					</div>
				</div>

				<div class="clearfix mxn1 mb1">
					<div class="col col-6 p1">
						<label class="block" for="subject">Betreff</label>
						<input class="block full-width field-light" id="subject" type="text">
					</div>
					<div class="col col-6 p1">
						<label class="block" for="notes">Anruf für</label>
						<select class="block full-width mb1 field-light">
							<option selected="selected" disabled="disabled">--</option>
							<option>Nurhayat Bakir</option>
							<option>Henrik Walpurgis</option>
							<option>Jacqueline Bakir Brader</option>
							<option>Dino Hasanovic</option>
							<option>Felix Meiser</option>
						</select>
					</div>
				</div>

				<div class="col-8 mb1">
					<label class="block" for="notes">Bemerkungen</label>
					<textarea class="full-width field-light" style="resize: vertical;" id="notes" type="text"></textarea>
				</div>

				<div class="mt3">
					<a class="button" href="#">Fertig</a>
					<button class="button bg-gray" id="cancel">Abbrechen</button>
				</div>

			</form>
		</div>

	</div>

	<div id="overlay" class="mdl-overlay"></div>

{% endblock %}
